<h2>List all Products</h2>
<button routerLink="add-product">+</button>

    <mat-grid-list cols="4" rowHeight="500px">
      <mat-grid-tile
        *ngFor="let product of prods | async"
        [colspan]="1"
        [rowspan]="1">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
          </mat-card-header>
          <img id="img" mat-card-image [src]="product.url" *ngIf="product.url" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <button mat-button (click)="productToCart(product)">Add to cart</button>
          </mat-card-content>
          <mat-card-actions>
            <button  mat-button (click)="deleteProduct(product)">Delete</button>
            <button mat-button routerLink="update-products/{{product.id}}">Update</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

<button (click)="logut()">logout</button>
