
<form [formGroup]="userFormGroup" (ngSubmit)="addUser()">

  <label>
    Username
    <input type="text" formControlName="Username">
  </label>
  <label>
    Password
    <input type="password" formControlName="Password">
  </label>
  <label>
    Address
    <input type="text" formControlName="Address">
  </label>
  <label>
    email
    <input type="email" formControlName="Email">
  </label>

  <label>
    phonenumber
    <input type="number" formControlName="Phonenumber">
  </label>
  <input type="file" (change)="uploadFile($event)" accept="image/*">
  <button type="submit">Add</button>
</form>
<div id="image">
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    format="png"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>
</div>
