
<form [formGroup]="userFormGroup" (ngSubmit)="addUser()">

  <label>
    Username
    <input type="text" formControlName="username">
  </label>
  <label>
    Password
    <input type="password" formControlName="password">
  </label>
  <label>
    Address
    <input type="text" formControlName="address">
  </label>
  <label>
    email
    <input type="email" formControlName="email">
  </label>

  <label>
    phonenumber
    <input type="number" formControlName="phonenumber">
  </label>

  <button type="submit">Add</button>
</form>

