<ul>
  <li><a routerLink="/">Main screen</a></li>
  <li><a routerLink="/add-product">Add Prodcut</a></li>
  <li><a routerLink="/add-user">Add User</a></li>
  <li><a routerLink="/show-users">Show user</a></li>
 <li><a routerLink="/order">Order</a></li>

  <li routerLink="/order" style="float:right"><img src="https://img.icons8.com/plasticine/40/000000/shopping-cart.png"></li>
  <li style="float:right" *ngIf="cartSize!=null" style="color: red">{{cartSize.length}}</li>

  <li style="float:right" routerLink="/login"><a>Login</a></li>
</ul>
